body{
    font-family: figtree;
    background-color:#F4D04E ;
    font-size: 1.15rem;
    line-height: 150%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content{
    padding:24px;
}
.main-container{
    background-color: #FFFFFF;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    width: 384px;
    height:622px;
    box-shadow: 0 20px 40px #111111;
    transition: box-shadow 0.3s ease-in-out;
}

.learning {
    
    color:#111111;
    background-color: #F4D04E;
    width:60px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin: 0px;
    padding: 4px;
}

p{
    color: #6B6B6B;
    font-size: 16px;
}
.profile-image{
    display: flex;
    border-radius: 50px;
    font-weight: 300;
    color:#111111 ;
    align-items: center;
    gap: 12px;
    
}
.profile-picture{
    width: 32px;
    height:32px ;
}

.design{
    border-radius: 30px;
}

.h6{
    font-size: 24px;
}
